{
  "extends": ["airbnb-typescript"],
  "parserOptions": {
    "project": "./server/tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/comma-dangle": "off"
  },
  "plugins": ["react", "import"]
}
